body {
    font-family: 'Helvetica Nue', Helvetica, Arial, sans-serif;
    margin-top: 60px; 
    margin-right: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
}

li {
    color:#2c3e50;
    padding-right:30px;
}

ul {
    list-style-type: none;
    font-family: Helvetica;
    margin-top:10px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color:#2c3e50;
}

.menu {
    font-size: 16px;
    color:#2c3e50;
}

#title {
    font-size: 30px;
    font-weight: bold;
}

#header {
    height:60px;
    width:110%;
    background-color: #9DB63B;   /* Leaf Green */
    margin:0;
    position:fixed;
    top:0px;
}

#mypic {
    float:left;
    padding-right: 20px;
    padding-bottom: 20px;
}

#bio {
    padding-top: 20px;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 20%;
}

#border1 {
    background-color: #5B9032;   /* Kelly Green */
    height: 20px;
}

#portfolio {
    text-align: center;

    padding-top: 80px;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 20%;
}

#border2 {
    background-color: #49A88F;   /* Teal */
    height: 20px;
}

#education {
    text-align: center;

    padding-top: 80px;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 20%;
}

#border3 {
    background-color: #3B8FA3;   /* Blue */
    height: 20px;
}

#favorites {
    padding-top: 80px;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 20%;
}

#border4 {
    background-color: #005A88;   /* Navy */
    height: 20px;
}

#whyka {
    text-align: center;

    padding-top: 20px;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 20%;
}

#work {
    text-align: center;

    padding-top: 80px;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 20%;
}

#edu {
    text-align: center;

    padding-top: 80px;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 20%;
}

/* media queries for mobile viewing */

@media (min-width: 600px) {
    li {
        display:inline;
    }
}

@media (max-width: 599px) {
    #header {
        height:120px;
    }
}

